.codoacodo img {
  width: 180px;
  height: 90px;
}
.menu {
  background-color: rgb(130, 130, 130);
  height: 35px;
}

.menu {
  text-align: right;
}

a {
  line-height: 30px;
}

.container {
  padding-left: 20%;
  width: 900px;
  height: 400px;
}

.html {
  margin-top: 10px;
  padding-left: 40px;
  width: 100px;
  height: 100px;
}

.circular--square {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.datos {
  background-color: grey;
  text-align: center;
}
